.cardStyle {
    background-color: #fff;
  }

  .underline {
      text-decoration: underline;
  }

  .line-height {
    line-height: 8;
  }

  



  .image {
      background-image: url('~/assets/images/component-left.png');
      background-position: right top;
      background-repeat: no-repeat;
      background-size:20% 60%;
  }



