<app-nav-bar title='Voting guides' (openSideBar)="onDrawerNextTap()"></app-nav-bar>
<StackLayout>
  <ScrollView height="100%">
  <FlexboxLayout flexDirection="column" backgroundColor="#F2F2F2" width="100%">
    <StackLayout class="p-16">
      <Label text="Use these guides to learn more about the candidates and how to vote in your state" class="h3 regular-font" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="p-16" width="100%">
      <StackLayout width="100%" class="m-b-24">
        <CardView class="cardStyle" elevation="40" radius="6" ripple (tap)="open('https://docs.nativescript.org/')">
          <GridLayout rows="auto,auto" columns="auto,*" class="p-l-16 p-r-16 p-t-16 p-b-16"  width="100%">
            <Label text="Vote 144" row="0" col="0" olor="#3F3D56" horizontalAlignment="left" verticalAlignment="center"  class="medium-font h3" textWrap="true"></Label>
            <Label text="VOTE 411 Brief description Greyhound divisively Hello coldly wonderfully marginally far upon excluding" width="80%" row="1" col="0" olor="#3F3D56"  class="medium-font p" textWrap="true"></Label>
            <Label text="&#xf061;" class="fa h2 text-right" rowSpan="2" col="1" color="#3F3D56" horizontalAlignment="right" verticalAlignment="bottom"   textWrap="true"></Label>
           
          </GridLayout>
        </CardView>
      </StackLayout>

      <StackLayout width="100%" class="m-b-24">
        <CardView class="cardStyle" elevation="40" radius="6" ripple (tap)="open('https://docs.nativescript.org/')">
          <GridLayout rows="auto,auto" columns="auto,*" class="p-l-16 p-r-16 p-t-16 p-b-16"  width="100%">
            <Label text="NC Polling Place Look Up" row="0" col="0" olor="#3F3D56" horizontalAlignment="left" verticalAlignment="center" ripple class="medium-font h3" textWrap="true"></Label>
            <Label text="NC Polling Place Look Up Brief description Greyhound divisively Hello coldly wonderfully marginally far upon excluding" width="80%" row="1" col="0" olor="#3F3D56" ripple class="medium-font p" textWrap="true"></Label>
            <Label text="&#xf061;" class="fa h2 text-right" rowSpan="2" col="1" color="#3F3D56" horizontalAlignment="right" verticalAlignment="bottom"  ripple textWrap="true"></Label>
           
          </GridLayout>
        </CardView>
      </StackLayout>


      <StackLayout width="100%" class="m-b-24">
        <CardView class="cardStyle" elevation="40" radius="6">
          <GridLayout rows="auto,auto" columns="auto,*" class="p-l-16 p-r-16 p-t-16 p-b-16"  width="100%">
            <Label text="Vote Dash" row="0" col="0" olor="#3F3D56" horizontalAlignment="left" verticalAlignment="center" ripple class="medium-font h3" textWrap="true"></Label>
            <Label text="Vote Dash Brief description Greyhound divisively Hello coldly wonderfully marginally far upon excluding" width="80%" row="1" col="0" olor="#3F3D56" ripple class="medium-font p" textWrap="true"></Label>
            <Label text="&#xf061;" class="fa h2 text-right" rowSpan="2" col="1" color="#3F3D56" horizontalAlignment="right" verticalAlignment="bottom"  ripple textWrap="true"></Label>
          </GridLayout>
        </CardView>
      </StackLayout>

      <StackLayout width="100%" class="m-b-24">
        <CardView class="cardStyle" elevation="40" radius="6">
          <GridLayout rows="auto,auto" columns="auto,*" class="p-l-16 p-r-16 p-t-16 p-b-16"  width="100%">
            <Label text="Say Yay" row="0" col="0" olor="#3F3D56" horizontalAlignment="left" verticalAlignment="center" ripple class="medium-font h3" textWrap="true"></Label>
            <Label text="Say Yay Brief description Greyhound divisively Hello coldly wonderfully marginally far upon excluding" width="80%" row="1" col="0" olor="#3F3D56" ripple class="medium-font p" textWrap="true"></Label>
            <Label text="&#xf061;" class="fa h2 text-right" rowSpan="2" col="1" color="#3F3D56" horizontalAlignment="right" verticalAlignment="bottom"  ripple textWrap="true"></Label>
          </GridLayout>
        </CardView>
      </StackLayout>


      <StackLayout width="100%" class="m-b-24">
        <CardView class="cardStyle" elevation="40" radius="6">
          <GridLayout rows="auto,auto" columns="auto,*" class="p-l-16 p-r-16 p-t-16 p-b-16"  width="100%">
            <Label text="Countable" row="0" col="0" olor="#3F3D56" horizontalAlignment="left" verticalAlignment="center" ripple class="medium-font h3" textWrap="true"></Label>
            <Label text="Countable Brief description Greyhound divisively Hello coldly wonderfully marginally far upon excluding" width="80%" row="1" col="0" olor="#3F3D56" ripple class="medium-font p" textWrap="true"></Label>
            <Label text="&#xf061;" class="fa h2 text-right" rowSpan="2" col="1" color="#3F3D56" horizontalAlignment="right" verticalAlignment="bottom"  ripple textWrap="true"></Label>
          </GridLayout>
        </CardView>
      </StackLayout>


      <StackLayout width="100%" class="m-b-24">
        <CardView class="cardStyle" elevation="40" radius="6">
          <GridLayout rows="auto,auto" columns="auto,*" class="p-l-16 p-r-16 p-t-16 p-b-16"  width="100%">
            <Label text="BallotReady" row="0" col="0" olor="#3F3D56" horizontalAlignment="left" verticalAlignment="center" ripple class="medium-font h3" textWrap="true"></Label>
            <Label text="BallotReady Brief description Greyhound divisively Hello coldly wonderfully marginally far upon excluding" width="80%" row="1" col="0" olor="#3F3D56" ripple class="medium-font p" textWrap="true"></Label>
            <Label text="&#xf061;" class="fa h2 text-right" rowSpan="2" col="1" color="#3F3D56" horizontalAlignment="right" verticalAlignment="bottom"  ripple textWrap="true"></Label>
          </GridLayout>
        </CardView>
      </StackLayout>

    </StackLayout>
  </FlexboxLayout>
  </ScrollView>
</StackLayout>