<!--<ActionBar  (loaded)="onLoaded($event)">-->
<!--    &lt;!&ndash; Explicitly hiding the NavigationBar to prevent the default one on iOS&ndash;&gt;-->
<!--    <NavigationButton visibility="collapsed"  android.systemIcon="ic_menu_back" position="left"></NavigationButton>-->
<!--    <Label class="action-bar-title" text="Home"></Label>-->
<!--    &lt;!&ndash; Using the icon property and Icon Fonts &ndash;&gt;-->
<!--    <ActionItem position="left" icon="font://&#xf0a8;" class="fas" (tap)="goBack()"></ActionItem>-->

<!--    &lt;!&ndash; Creating custom views for ActionItem&ndash;&gt;-->
<!--</ActionBar>-->
<ActionBar title=" Button">

        <NavigationButton text="Go Back" icon="res://menu-24px"></NavigationButton>


        <ActionItem icon="res://ic_menu" ios.position="left"></ActionItem>

</ActionBar>
